@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
.vertical-line {
  border-left: 1px solid #D8D8D8;
  height: 100%;
  margin: 0 20px;
}

.top-curve {
  bottom: -10px;
  height: 80px;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
}

.sec-title {
  font-size: 45px;
  color: #022D57;
  text-align: center;
}

.sec-subtitle {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  padding: 10px 0px 20px 0px;
}

.standard-btn {
  background-color: #EC001B;
  color: white;
  border: none;
  padding: 5px 20px 10px 20px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 5px;
  transition: all ease-in 0.3s;
}
.standard-btn i {
  font-size: 25px;
  position: relative;
  top: 5px;
}
.standard-btn:hover {
  background-color: #022D57;
  cursor: pointer;
}

.included-block {
  margin: 20px 0px;
  background-color: #dee2e6;
  padding: 30px 50px;
}
.included-block .container {
  display: flex;
}
.included-block .container ul {
  width: 50%;
}
.included-block .container ul li {
  height: 50px;
  display: flex;
  align-items: center;
}
.included-block .container ul li i {
  color: #EC001B;
  font-size: 30px;
}

.sidebar {
  width: 27%;
}
.sidebar .promo-block {
  background-color: #022D57;
  padding: 30px;
  color: white;
}
.sidebar .promo-block h2 {
  font-size: 30px;
  text-align: center;
  padding-bottom: 10px;
}
.sidebar .promo-block p {
  font-weight: 400;
  font-size: 12px;
  text-align: center;
}
.sidebar .promo-block button {
  width: 100%;
}
.sidebar .lead-form {
  margin-top: 30px;
  background-color: black;
  padding: 30px;
}
.sidebar .lead-form h3 {
  color: white;
  text-align: center;
  padding-bottom: 20px;
}
.sidebar .lead-form form {
  width: 100%;
}
.sidebar .lead-form form input {
  width: 100%;
  border: none;
  padding: 15px 10px;
  border-radius: 2px;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 10px;
}
.sidebar .lead-form form textarea {
  width: 100%;
  height: 100px;
  padding: 15px 10px;
  border-radius: 2px;
  font-family: inherit;
}
.sidebar .lead-form form button {
  width: 100%;
}
.sidebar .reviews-ratings {
  margin-top: 30px;
  border: 2px solid #022D57;
  color: #022D57;
  text-align: center;
  padding: 30px 0px;
}
.sidebar .reviews-ratings i {
  font-size: 25px;
  padding: 0px 5px 15px 5px;
}
.sidebar .learn-more-block {
  margin-top: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-image: url("/assets/images/testimonial-bg.jpg");
  background-size: cover;
  background-position: center bottom;
  padding: 30px;
  text-align: center;
}

nav .navigation {
  padding-left: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #022D57;
  color: #ffffff;
  width: 90%;
  margin: 0 auto;
  height: 65px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
  z-index: 99;
}
nav .navigation .menu {
  width: 100%;
  padding-right: 80px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  height: -moz-fit-content;
  height: fit-content;
  transition: all 0.3s ease-in;
}
nav .navigation .menu .dropdown {
  position: relative;
}
nav .navigation .menu .dropdown:hover .submenu {
  display: block;
}
nav .navigation .menu .submenu {
  display: none;
  position: absolute;
  top: 100%;
  background-color: white;
  list-style: none;
  padding: 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  min-width: 250px;
}
nav .navigation .menu .submenu li {
  padding: 15px 20px;
}
nav .navigation .menu .submenu li a {
  color: black;
}
nav .navigation .menu .submenu li a:hover {
  color: #EC001B;
}
nav .navigation .menu .submenu li::after {
  content: "";
  display: block;
  width: 85%;
  height: 1px;
  background-color: #ccc; /* Adjust color as needed */
  position: absolute;
  margin-top: 10px;
  left: 7.5%; /* Centers the 85% width line */
}
nav .navigation .menu .submenu li:last-child::after {
  display: none; /* Removes line from the last item */
}
nav .navigation .menu a {
  color: white;
}
nav .navigation .menu li {
  padding: 10px 20px;
}
nav .navigation .menu li a:hover {
  color: #EC001B;
}
nav .navigation .available {
  background-color: #EC001B;
  width: 260px;
  height: 65px;
  border-bottom-right-radius: 20px;
  text-align: center;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 20px;
}
nav .navigation .available span {
  font-size: 16px;
  font-weight: 400;
}
nav .navigation .available:hover {
  background-color: white;
  color: #EC001B;
  transition: all ease-in 0.2s;
  cursor: pointer;
}

/***** Hero Section *****/
.page-hero {
  height: 700px;
  height: 700px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  background: linear-gradient(to top right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/assets/images/heating-hero-banner.jpg") no-repeat center top/cover;
  position: relative;
  z-index: 97;
  margin-top: -40px;
}
.page-hero .hero-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.page-hero .hero-content h1 {
  font-size: 55px;
  font-weight: 400;
  padding-bottom: 50px;
}
.page-hero .hero-content h1 span {
  font-weight: 700;
}
.page-hero .hero-content .hero-banner {
  background-color: #EC001B;
  width: 80%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 50px 80px;
  border-radius: 20px;
  margin: 50px 0px;
}
.page-hero .hero-content .hero-banner h2 {
  font-size: 35px;
  font-weight: 400;
  padding-bottom: 25px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}
.page-hero .hero-content .hero-banner p {
  font-weight: 400;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}
.page-hero .hero-content .quote-btn {
  margin-top: 20px;
  background-color: white;
  color: #022D57;
  padding: 5px 20px 15px 20px;
  border-radius: 30px;
  border: none;
}
.page-hero .hero-content .quote-btn i {
  position: relative;
  top: 5px;
  font-size: 25px;
  padding-left: 20px;
}

/***** Learn More Section *****/
.learn-more {
  width: 90%;
  margin: 0 auto;
  padding: 60px 0px 0px 0px;
  box-shadow: 1px 6px 17px rgba(0, 0, 0, 0.17);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.learn-more .sm-sec-title {
  text-align: center;
  color: #EC001B;
  font-size: 35px;
  padding-bottom: 15px;
}
.learn-more .sec-desc {
  text-align: center;
  line-height: 25px;
  font-weight: 400;
  color: #282C37;
}
.learn-more .tab-container {
  padding-top: 50px;
  width: 90%;
  margin: 0 auto;
}
.learn-more .tab-container .tab-labels {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.learn-more .tab-container .tab-labels button {
  width: 33%;
  height: 100%;
  margin: 0px;
  border: none;
  background-color: #022D57;
  color: white;
  cursor: pointer;
}
.learn-more .tab-container .tab-labels button:hover {
  background: #000;
  transition: background ease-in 0.3s;
}
.learn-more .tab-container .tab-content {
  padding: 30px 0px;
}
.learn-more .tab-container .tab-content img {
  width: 100%;
  padding-bottom: 20px;
}
.learn-more .tab-container .tab-content p {
  font-weight: 400;
  line-height: 25px;
}
.learn-more .tab-container .tab-content .tab-block {
  margin: 20px 0px;
  background-color: #022D57;
  border-left: 25px solid #EC001B;
  color: white;
  height: -moz-fit-content;
  height: fit-content;
  padding: 30px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.learn-more .tab-container .tab-content .tab-block .bx-ul {
  margin-left: 80px;
}
.learn-more .tab-container .tab-content .tab-block li {
  height: 80px;
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: 400;
}
.learn-more .tab-container .tab-content .tab-block .icon-sq {
  display: flex;
  justify-content: center;
  align-items: center;
}
.learn-more .tab-container .tab-content .tab-block i {
  background-color: #EC001B;
  font-size: 30px;
  padding: 10px;
  border-radius: 30px;
  width: 50px;
}
.learn-more .tab-container .tab-content .tab-block .condition {
  padding-left: 25px;
}
.learn-more .tab-container .tab-content h3 {
  color: #EC001B;
  font-size: 25px;
  padding: 10px 0px;
}
.learn-more .contact-banner {
  background: #000;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.learn-more .contact-banner h4 {
  font-size: 30px;
}
.learn-more .contact-banner .contact-btns {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.learn-more .contact-banner .contact-btns .round-btn {
  color: #022D57;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  padding: 10px 50px;
  font-size: 20px;
  font-weight: 400;
}
.learn-more .contact-banner .contact-btns .round-btn i {
  position: relative;
  padding: 5px 5px;
  border-radius: 50px;
  top: -1px;
  font-size: 25px;
  color: #EC001B;
}
.learn-more .contact-banner .contact-btns .red {
  background-color: #EC001B;
  color: white;
}
.learn-more .contact-banner .contact-btns .red i {
  margin-right: 50px;
  background-color: white;
}
.learn-more .contact-banner .contact-btns .red:hover {
  background-color: white;
  color: #022D57;
}
.learn-more .contact-banner .contact-btns .red:hover i {
  color: white;
  background-color: #EC001B;
}
.learn-more .contact-banner .contact-btns .white {
  background-color: white;
  color: #022D57;
}
.learn-more .contact-banner .contact-btns .white:hover {
  background-color: #EC001B;
  color: white;
}
.learn-more .contact-banner .contact-btns .white:hover i {
  color: #EC001B;
  background-color: white;
}
.learn-more .contact-banner .contact-btns .white i {
  background-color: #EC001B;
  color: white;
}

.bg-testimonial {
  margin: 50px 90px;
  border-radius: 15px;
  box-shadow: 1px 6px 20px rgba(40, 44, 55, 0.23);
  background-image: url("/assets/images/testimonial-bg.jpg");
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}
.bg-testimonial .testimonials {
  width: 70%;
  padding: 0px 90px 0px 0px;
}
.bg-testimonial .testimonials .review {
  margin-top: 0px;
}
.bg-testimonial .testimonials .review .review__items .rating, .bg-testimonial .testimonials .review .review__items h4 {
  text-align: left;
}
.bg-testimonial .testimonials .review .review__items .quote {
  padding-right: 0px;
  text-align: left;
}
.bg-testimonial .google-review {
  width: 30%;
  height: 390px;
  background-color: #022D57;
  color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bg-testimonial .google-review .rate p {
  font-size: 90px;
}
.bg-testimonial .google-review .rate i {
  font-size: 30px;
  padding-bottom: 10px;
}
.bg-testimonial .google-review hr {
  margin: 10px 0px;
  width: 50%;
}
.bg-testimonial .google-review .reviews {
  font-size: 35px;
}
.bg-testimonial .google-review .reviews span {
  font-size: 28px;
  font-weight: 400;
}

nav .navigation {
  padding-left: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #022D57;
  color: #ffffff;
  width: 90%;
  margin: 0 auto;
  height: 65px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
  z-index: 99;
}
nav .navigation .menu {
  width: 100%;
  padding-right: 80px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  height: -moz-fit-content;
  height: fit-content;
  transition: all 0.3s ease-in;
}
nav .navigation .menu .dropdown {
  position: relative;
}
nav .navigation .menu .dropdown:hover .submenu {
  display: block;
}
nav .navigation .menu .submenu {
  display: none;
  position: absolute;
  top: 100%;
  background-color: white;
  list-style: none;
  padding: 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  min-width: 250px;
}
nav .navigation .menu .submenu li {
  padding: 15px 20px;
}
nav .navigation .menu .submenu li a {
  color: black;
}
nav .navigation .menu .submenu li a:hover {
  color: #EC001B;
}
nav .navigation .menu .submenu li::after {
  content: "";
  display: block;
  width: 85%;
  height: 1px;
  background-color: #ccc; /* Adjust color as needed */
  position: absolute;
  margin-top: 10px;
  left: 7.5%; /* Centers the 85% width line */
}
nav .navigation .menu .submenu li:last-child::after {
  display: none; /* Removes line from the last item */
}
nav .navigation .menu a {
  color: white;
}
nav .navigation .menu li {
  padding: 10px 20px;
}
nav .navigation .menu li a:hover {
  color: #EC001B;
}
nav .navigation .available {
  background-color: #EC001B;
  width: 260px;
  height: 65px;
  border-bottom-right-radius: 20px;
  text-align: center;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 20px;
}
nav .navigation .available span {
  font-size: 16px;
  font-weight: 400;
}
nav .navigation .available:hover {
  background-color: white;
  color: #EC001B;
  transition: all ease-in 0.2s;
  cursor: pointer;
}

/***** Page Title Header *****/
.page-header {
  background-color: black;
  width: 100%;
  height: 180px;
  padding: 0px 90px;
  color: white;
  position: relative;
  z-index: 97;
  margin-top: -40px;
  display: flex;
  align-items: center;
}
.page-header h1 {
  font-size: 40px;
  padding-top: 10px;
}

.sales-container {
  width: 90%;
  margin: 0 auto;
  margin-top: -30px;
  position: relative;
  z-index: 99999;
  display: flex;
  justify-content: space-between;
}
.sales-container .page-content {
  width: 70%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.sales-container .page-content img {
  width: 100%;
}
.sales-container .page-content .content {
  padding: 50px;
}
.sales-container .page-content .content h2 {
  color: #022D57;
  font-size: 30px;
  padding-bottom: 10px;
}
.sales-container .page-content .content p {
  font-weight: 400;
  padding-bottom: 20px;
}
.sales-container .page-content .content .included-block {
  font-weight: 400;
}
.sales-container .page-content .content .included-block i {
  font-size: 40px;
  color: #EC001B;
}
.sales-container .page-content .content .included-block span {
  font-weight: 700;
}
.sales-container .page-content .content .included-block li {
  height: 80px;
}

.contact-container {
  margin-top: 30px;
  width: 90%;
  margin: 0 auto;
  margin-top: -30px;
  position: relative;
  z-index: 99999;
  display: flex;
  justify-content: space-between;
}
.contact-container .page-content {
  width: 70%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.contact-container .page-content img {
  width: 100%;
}
.contact-container .page-content .content {
  padding: 50px;
}
.contact-container .page-content .content h2 {
  color: #022D57;
  font-size: 30px;
  padding-bottom: 10px;
}
.contact-container .page-content .content p {
  font-weight: 400;
  padding-bottom: 20px;
}
.contact-container .page-content .content .included-block {
  font-weight: 400;
}
.contact-container .page-content .content .included-block i {
  font-size: 40px;
  color: #EC001B;
}
.contact-container .page-content .content .included-block span {
  font-weight: 700;
}
.contact-container .page-content .content .included-block li {
  height: 80px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #000000;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
body a {
  text-decoration: none;
}

/***** Navbar *****/
#navbar {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#navbar .top-nav {
  border-top: 2px solid black;
  height: 190px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
}
#navbar .top-nav img {
  width: 280px;
  height: 125px;
}
#navbar .company-meta {
  display: flex;
  width: 600px;
  height: 50px;
  justify-content: space-between;
}
#navbar .company-meta .address, #navbar .company-meta .phone {
  display: inherit;
  align-items: center;
}
#navbar .company-meta .address .title, #navbar .company-meta .phone .title {
  font-size: 13px;
}
#navbar .company-meta .address p, #navbar .company-meta .phone p {
  font-size: 26px;
}
#navbar .company-meta i {
  font-size: 30px;
  color: #022D57;
  padding: 10px;
  border-color: #022D57;
  border-radius: 50px;
  margin-right: 15px;
}
#navbar .company-meta a {
  color: black;
}

/***** Hero Section + Main Navigation Menu *****/
.home-hero {
  min-height: 800px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  background: linear-gradient(to top right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url("/assets/images/vent-hero-banner.jpg") no-repeat center top/cover;
  position: relative;
}
.home-hero .navigation {
  padding-left: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #022D57;
  color: #ffffff;
  width: 90%;
  margin: 0 auto;
  height: 65px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
}
.home-hero .navigation .menu {
  width: 100%;
  padding-right: 80px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  height: -moz-fit-content;
  height: fit-content;
  transition: all 0.3s ease-in;
}
.home-hero .navigation .menu .dropdown {
  position: relative;
}
.home-hero .navigation .menu .dropdown:hover .submenu {
  display: block;
}
.home-hero .navigation .menu .submenu {
  display: none;
  position: absolute;
  top: 100%;
  background-color: white;
  list-style: none;
  padding: 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  min-width: 250px;
}
.home-hero .navigation .menu .submenu li {
  padding: 15px 20px;
}
.home-hero .navigation .menu .submenu li a {
  color: black;
}
.home-hero .navigation .menu .submenu li a:hover {
  color: #EC001B;
}
.home-hero .navigation .menu .submenu li::after {
  content: "";
  display: block;
  width: 85%;
  height: 1px;
  background-color: #ccc; /* Adjust color as needed */
  position: absolute;
  margin-top: 10px;
  left: 7.5%; /* Centers the 85% width line */
}
.home-hero .navigation .menu .submenu li:last-child::after {
  display: none; /* Removes line from the last item */
}
.home-hero .navigation .menu a {
  color: white;
}
.home-hero .navigation .menu li {
  padding: 10px 20px;
}
.home-hero .navigation .menu li a:hover {
  color: #EC001B;
}
.home-hero .navigation .available {
  background-color: #EC001B;
  width: 260px;
  height: 65px;
  border-bottom-right-radius: 20px;
  text-align: center;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 20px;
}
.home-hero .navigation .available span {
  font-size: 16px;
  font-weight: 400;
}
.home-hero .navigation .available:hover {
  background-color: white;
  color: #EC001B;
  transition: all ease-in 0.2s;
  cursor: pointer;
}
.home-hero .hero-stats {
  background-color: white;
  display: flex;
  padding: 3px;
  border-radius: 15px;
  height: 250px;
  width: 85%;
  z-index: 999;
}
.home-hero .hero-stats .google-review, .home-hero .hero-stats .book-online {
  width: 50%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home-hero .hero-stats .google-review {
  background-color: #022D57;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-hero .hero-stats .google-review .rate p {
  font-size: 80px;
}
.home-hero .hero-stats .google-review .rate i {
  font-size: 25px;
}
.home-hero .hero-stats .google-review .vertical-line {
  height: 50%;
}
.home-hero .hero-stats .google-review .reviews {
  font-size: 35px;
}
.home-hero .hero-stats .google-review .reviews span {
  font-size: 28px;
  font-weight: 400;
}
.home-hero .hero-stats .book-online {
  background-color: #000;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  flex-direction: column;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.home-hero .hero-stats .book-online h1 {
  font-weight: 400;
  font-size: 50px;
}
.home-hero .hero-stats .book-online h1 span {
  font-weight: 700;
}
.home-hero .hero-stats .book-online button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 18px;
  margin-top: 10px;
  cursor: pointer;
}
.home-hero .hero-stats .book-online button i {
  font-size: 25px;
  position: relative;
  top: 4px;
  margin-left: 8px;
  transition: transform 0.3s ease;
}
.home-hero .hero-stats .book-online:hover {
  background-color: #EC001B;
  transition: all ease-in-out 0.3ms;
}
.home-hero .hero-stats .book-online:hover i {
  transform: translateX(4px); /* Move the icon to the right */
}

/***** Testinomials *****/
.testimonials {
  padding: 85px 90px;
  text-align: center;
}
.testimonials .review {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 390px;
  border-radius: 15px;
  margin: auto;
  padding: 10px;
  margin-top: 30px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  position: relative;
}
.testimonials .review .reviews {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonials .review .review__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 80px;
  text-align: center;
  box-sizing: border-box;
}
.testimonials .review .review__items .quote {
  padding: 0px 100px 15px 0px;
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
}
.testimonials .review .review__items .rating i {
  color: #FFD700;
  font-size: 25px;
  padding-bottom: 30px;
}
.testimonials .review .review-btn {
  background: transparent;
  border: none;
  font-size: 50px;
  cursor: pointer;
  color: black;
}
.testimonials .review .review-btn #prev {
  position: absolute;
  left: 10px;
}
.testimonials .review .review-btn #next {
  position: absolute;
  right: 10px;
}

/***** Promotional Banner *****/
#promo-banner {
  background-color: #022D57;
  color: white;
  padding: 50px 120px;
  display: flex;
  justify-content: space-between;
}
#promo-banner h2 {
  font-size: 40px;
  padding-bottom: 20px;
}
#promo-banner h2 span {
  font-size: 35px;
  color: #f5f5f5;
}
#promo-banner p {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
}
#promo-banner .standard-btn {
  width: 290px;
}
#promo-banner .standard-btn:hover {
  background-color: white;
  color: #EC001B;
  transition: all ease-in 0.3s;
}

/***** Why Choose Us Section *****/
.work-sec {
  display: flex;
}
.work-sec .yt-left {
  width: 50%;
  position: relative;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.work-sec .yt-left img {
  width: 100%;
  height: 100%;
}
.work-sec .yt-left a i {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 55px;
  color: red;
  text-decoration: none;
  z-index: 10;
  cursor: pointer;
}
.work-sec .yt-left:hover a i {
  color: white;
}
.work-sec .desc-right {
  width: 50%;
  background-color: #000;
  padding: 0px 80px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
.work-sec .desc-right h2 {
  font-size: 35px;
  padding-bottom: 15px;
}
.work-sec .desc-right p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.work-sec .desc-right .company-list {
  display: flex;
  padding-top: 25px;
}
.work-sec .desc-right .company-list ul {
  width: 50%;
  font-weight: 400;
}
.work-sec .desc-right .company-list ul li {
  height: 50px;
}
.work-sec .desc-right .company-list i {
  font-size: 30px;
  color: #EC001B;
}
.work-sec .desc-right .call-now {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.work-sec .desc-right .call-now h3 {
  font-size: 30px;
  width: 50%;
}
.work-sec .desc-right .call-now .phone-no {
  height: 35px;
  display: flex;
  border-bottom: 2px solid white;
  cursor: pointer;
  transition: all ease-in 0.3s;
}
.work-sec .desc-right .call-now .phone-no i {
  font-size: 30px;
  padding-right: 20px;
  position: relative;
  bottom: 3px;
}
.work-sec .desc-right .call-now .phone-no p {
  font-size: 30px;
  font-weight: 700;
}
.work-sec .desc-right .call-now .phone-no:hover {
  border-color: #EC001B;
}

/***** Services & Product Sections *****/
.services {
  padding: 50px 90px;
  text-align: center;
  margin: 0 auto;
}
.services .sec-logo {
  height: 150px;
  padding-bottom: 15px;
}
.services .products {
  display: flex;
  margin: 0 auto;
  padding-top: 30px;
  width: 80%;
  justify-content: space-between;
}
.services .products .product-block {
  width: 250px;
  height: 300px;
  border: 3px solid #EC001B;
  border-radius: 10px;
  cursor: pointer;
}
.services .products .product-block img, .services .products .product-block .prod-name {
  width: 100%;
  padding: 10px;
}
.services .products .product-block img {
  height: 80%;
}
.services .products .product-block .prod-name {
  height: 20%;
  background-color: #EC001B;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.services .products .product-block .prod-name i {
  position: relative;
  font-size: 25px;
  top: 1px;
  padding-left: 10px;
}
.services .products .product-block:hover {
  border-color: #022D57;
  transition: all ease-in 0.3s;
}
.services .products .product-block:hover .prod-name {
  background-color: #022D57;
  transition: all ease-in 0.3s;
}
.services .products .shine {
  position: relative;
  overflow: hidden;
}
.services .products .shine::before {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  content: "";
  display: block;
  height: 100%;
  left: -75%;
  position: absolute;
  top: 0;
  transform: skewX(-25deg);
  width: 50%;
  z-index: 2;
}
.services .products .shine:hover::before, .services .products .shine:focus::before {
  animation: shine 0.85s;
}
@keyframes shine {
  100% {
    left: 125%;
  }
}

.line-divider {
  display: block;
  margin: auto;
}

/***** Badge Credential Section *****/
.badges {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px 90px;
  position: relative;
  z-index: 99;
}
.badges .logo {
  width: 200px;
}
.badges .logo .g-review {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 25px;
}
.badges .logo .g-review span {
  font-size: 18px;
  font-weight: 400;
}
.badges .logo .g-review .stars {
  padding-top: 5px;
  color: #E05F1A;
}
.badges .logo img {
  width: 100%;
}
.badges .logo .nate-logo {
  display: block;
  margin: 0 auto;
  width: 100px !important;
}

/***** Footer *****/
footer {
  margin-top: -100px;
  width: 100%;
  height: 400px;
  background-image: url("/assets/images/vent-hero-banner.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 98;
}
footer .bottom-curve {
  transform: scaleY(-1);
  width: 100%;
  position: relative;
  top: -1px;
  position: absolute;
  z-index: 98;
}
footer .overlay {
  width: 100%;
  height: 100%;
  background-color: #022D57;
  opacity: 0.9;
}
footer .overlay hr {
  margin: 20px 90px;
  border-color: #f5f5f5;
  border-bottom: 1px;
}
footer .overlay .container {
  padding-top: 150px;
}
footer .overlay .container .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
}
footer .overlay .container .footer-content img {
  width: 280px;
  height: 125px;
}
footer .overlay .container .footer-content .company-meta {
  display: flex;
  width: 600px;
  height: 50px;
  justify-content: space-between;
  color: white;
}
footer .overlay .container .footer-content .company-meta .address, footer .overlay .container .footer-content .company-meta .phone {
  display: inherit;
  align-items: center;
}
footer .overlay .container .footer-content .company-meta .address .title, footer .overlay .container .footer-content .company-meta .phone .title {
  font-size: 13px;
}
footer .overlay .container .footer-content .company-meta .address p, footer .overlay .container .footer-content .company-meta .phone p {
  font-size: 26px;
}
footer .overlay .container .footer-content .company-meta i {
  font-size: 30px;
  color: white;
  padding: 10px;
  border-color: white;
  border-radius: 50px;
  margin-right: 15px;
}
footer .copyright {
  padding: 20px 0px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #000;
  color: white;
  text-align: center;
  font-weight: 400;
}/*# sourceMappingURL=main.css.map */