@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
.vertical-line {
  border-left: 1px solid #D8D8D8;
  height: 100%;
  margin: 0 20px;
}

.top-curve {
  bottom: -10px;
  height: 80px;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
}

.sec-title {
  font-size: 45px;
  color: #022D57;
  text-align: center;
}

.sec-subtitle {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  padding: 10px 0px 20px 0px;
}

.standard-btn {
  background-color: #EC001B;
  color: white;
  border: none;
  padding: 5px 20px 10px 20px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 5px;
  transition: all ease-in 0.3s;
}
.standard-btn i {
  font-size: 25px;
  position: relative;
  top: 5px;
}
.standard-btn:hover {
  background-color: #022D57;
  cursor: pointer;
}

.included-block {
  margin: 20px 0px;
  background-color: #dee2e6;
  padding: 30px 50px;
}
.included-block .container {
  display: flex;
}
.included-block .container ul {
  width: 50%;
}
.included-block .container ul li {
  height: 50px;
  display: flex;
  align-items: center;
}
.included-block .container ul li i {
  color: #EC001B;
  font-size: 30px;
}

.sidebar {
  width: 27%;
}
.sidebar .promo-block {
  background-color: #022D57;
  padding: 30px;
  color: white;
}
.sidebar .promo-block h2 {
  font-size: 30px;
  text-align: center;
  padding-bottom: 10px;
}
.sidebar .promo-block p {
  font-weight: 400;
  font-size: 12px;
  text-align: center;
}
.sidebar .promo-block button {
  width: 100%;
}
.sidebar .lead-form {
  margin-top: 30px;
  background-color: black;
  padding: 30px;
}
.sidebar .lead-form h3 {
  color: white;
  text-align: center;
  padding-bottom: 20px;
}
.sidebar .lead-form form {
  width: 100%;
}
.sidebar .lead-form form input {
  width: 100%;
  border: none;
  padding: 15px 10px;
  border-radius: 2px;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 10px;
}
.sidebar .lead-form form textarea {
  width: 100%;
  height: 100px;
  padding: 15px 10px;
  border-radius: 2px;
  font-family: inherit;
}
.sidebar .lead-form form button {
  width: 100%;
}
.sidebar .reviews-ratings {
  margin-top: 30px;
  border: 2px solid #022D57;
  color: #022D57;
  text-align: center;
  padding: 30px 0px;
}
.sidebar .reviews-ratings i {
  font-size: 25px;
  padding: 0px 5px 15px 5px;
}
.sidebar .learn-more-block {
  margin-top: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-image: url("/assets/images/testimonial-bg.jpg");
  background-size: cover;
  background-position: center bottom;
  padding: 30px;
  text-align: center;
}

.contact-container {
  margin-top: 30px;
  width: 90%;
  margin: 30px auto 0px auto;
  position: relative;
  z-index: 99999;
  display: flex;
  justify-content: space-between;
}
.contact-container .page-content {
  width: 70%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgba(234, 234, 234, 0.5);
}
.contact-container .page-content img {
  width: 100%;
}
.contact-container .page-content .content {
  padding: 50px;
}
.contact-container .page-content .content h2 {
  color: #022D57;
  font-size: 30px;
  padding-bottom: 10px;
}
.contact-container .page-content .content p {
  font-weight: 400;
  padding-bottom: 20px;
}
.contact-container .page-content .content .included-block {
  font-weight: 400;
}
.contact-container .page-content .content .included-block i {
  font-size: 40px;
  color: #EC001B;
}
.contact-container .page-content .content .included-block span {
  font-weight: 700;
}
.contact-container .page-content .content .included-block li {
  height: 80px;
}
.contact-container .page-content .company-info {
  display: flex;
  padding: 50px 0px 0px 20px;
  justify-content: space-between;
  font-weight: 400;
}
.contact-container .page-content .company-info ul {
  width: 45%;
}
.contact-container .page-content .company-info ul li {
  height: 100px;
  font-size: 20px;
}
.contact-container .page-content .company-info ul li i {
  font-size: 35px;
  color: #022D57;
}
.contact-container .page-content .company-info ul .list-align {
  display: flex;
  align-items: center;
}
.contact-container .page-content .company-info ul .list-align:nth-child(2) {
  margin-left: 50px;
}
.contact-container .sidebar .learn-more-block-color {
  margin-top: 30px;
  background-color: #022D57;
  color: white;
  padding: 30px;
  text-align: center;
}/*# sourceMappingURL=contact.css.map */